//colors
$background-main: #f5f6fa;
$background-title: #7f8fa6;
$border-main: #353b48;
$text-main: $border-main;
$text-title: $background-main;

//sizing
$width-body: 500px;
$height-body: 600px;
$height-header: 60px;
$height-row: 40px;